<h2>Upcoming Shows</h2>

{{#each shows as |show|}}
<h3><a href="/shows/{{show.headliner}}">{{show.headliner}} with {{show.supporting_act}}</a></h3>
{{/each}}

<h3>Add a Show</h3>
<form action="/shows" method="post">
  <input type="text" name="show[headliner]" placeholder="Headliner">
  <input type="text" name="show[supporting_act]" placeholder="Supporting Act(s)">
  <input type="text" name="show[date]" placeholder="Date">
  <input type="text" name="show[time]" placeholder="Doors">
  <input type="text" name="show[price]" placeholder="Price">
  <button type="submit">Add Show</button>
</form>
